<div class="card">
    <div class="card-body">
        <h1>about</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum possimus nemo vero illum, provident aspernatur delectus beatae itaque animi numquam neque eligendi assumenda quam ducimus eum cumque incidunt soluta maxime!</p>
    </div>
</div>