<div class="card text-center bg-dark">
  <div class="card-body">
    <h5 class="card-title letters">
      Jhoan Sebastian Benavides Diaz
    </h5>
    <p class="card-text letters">
      &copy Universidad Catolica de Colombia
    </p>
  </div>
</div>